<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Web của tui</title>
<br>
<br>
<br>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" th:href="@{/}">Trang chủ</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"
					Onclick="return ConfirmLogout();">Đăng xuất</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/book">Book</a>
				</li>
				<li sec:authorize="isAuthenticated()"><a href="bookcase">BookCase</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</head>
<body>
	<!-- create navigation bar ( header) -->
	<div class="form-control" align="center">

		Book case of <span sec:authentication="principal.username">
			User</span>
	</div>
	<br>
	<br>
	<br>
	<br>
	<table align="center" class="table table-bordered table-hover">
		<tr>
			<th>Book ID</th>
			<th>Book Title</th>
			<th>Author</th>
			<th>Categoty</th>
			<th>Thao Tác</th>
		</tr>
		<tbody>
			<tr th:each="book:${listbookcase}">
				<td th:text="${book.book_id}"></td>
				<td th:text="${book.book_title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.category}"></td>
				<td><a th:href="@{/removebook/} + ${book.book_id}"><button
							class="btn btn-danger">remove</button></a></td>
		</tbody>
	</table>
	<a th:href="@{/clear}" class="btn btn-primary"> <span
				class="glyphicon glyphicon-plus"></span> clear bookcase
			</a>
</body>
<script>
			function ConfirmLogout() {
				var x = confirm("Bạn có chắc muốn đăng xuất?");
				if (x)
					return true;
				else
					return false;
			}
		</script>
</html>